@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.done {text-decoration:line-through;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}

body {
  background: lightblue;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  padding: 10px;
}
.container {
  max-width: 440px;
  padding:0 20px;
  margin: 170px auto;
}
.wrapper{
  position: relative;
  width: 100%;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
}












.wrapper form {
  background: #fff;
  padding: 40px;
  border-radius: 3px;
  box-shadow:0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper form input{
  position:relative;
  height: 40px;
  outline: none;
  border-radius: 5px;
  align-items: center;
  padding:10px;
  border: 1px solid lightgrey;
}
btnAdd {
  height: 40px;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding:5px 5px ;
  background:rgb(146,146,252) ;
};

ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: flex;
    align-items: center;
    margin: 10px;
    outline: none;
    border-radius: 5px;
    border:1px solid lightgrey ;
    padding-left: 10px;
} 
li .deleteBtn {
  position: relative;
  left: 50%;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding:5px 5px ;
  background:rgb(146,146,252) ;
}

li input[type="checkbox"] {
     margin-right: 10px;
}
.btnClear {
  height: 30px;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding:5px 5px;
  margin-top: 10px;
  position: relative;
  left: 34%;
  background:rgb(146,146,252) ;
}

footer {
  text-align: center;
}
